
body{
  background-color: #2C3137;
  color: #2C3137;
  font-family: 'Press Start 2P', cursive;

  height: 70vh;
  width: 98vw;

}

h1{
  margin-top: 14vh;
  text-align: center;
  font-size: 7.2vw;
  color: #C2A957;
}

.container{
  width: 80vw;
  background-color: #C2A957;

  margin-right: auto;
  margin-left: auto;
  padding-top: 0.01vh;
  padding-bottom: 5vh;

  text-align: center;
  border-radius: 5px;;
  font-size: 0.8em;
}

button{
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
  color: #C2A957;
  background-color: #2C3137;

  width: 50vw;
}

a#rooms{
  display: none;
}

#toggleLogs{
  color: white;
}
