
body{
  background-color: #2C3137;
  color: #7f756b;
  font-family: 'Press Start 2P', cursive;
  font-size: 5vw;

  height: 70vh;
  width: 98vw;
}

h1{
  text-align: center;
  font-size: 7.2vw;
  color: #C2A957;
}


#roomList{
  overflow: auto;
}
.room{
  margin: 2%;
  border-radius: 5px;

  background-color: #C2A957;
  padding: 5px;
}

.room p{
  font-size: 0.8em;
}

span{
  font-size: 0.7em;
  color: #9e958c;
}

#create{
  position: absolute;
  bottom: 5vh;
  left: calc(50% - 40vw);
}
button{
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
  color: #C2A957;
  background-color: #1d2125;
  text-decoration: none;
  border: none;

  height: 4em;
  width: 80vw;
}
